.border1 {
  position: absolute;
  width: 310.98px;
  height: 920px;
  left: 350px;
  top: 345px;
  background: #ffffff;
  border-radius: 32px;
}
.head1 {
  position: relative;
  top: 30px;
  left: -15px;
  color: #d04c8d;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.circle {
  position: relative;
  top: 50px;
}

.list li {
  position: relative;
  top: 100px;
  padding: auto;
  text-align: left;
  left: 50px;
}

.man2 {
  margin-top: 150px;
  width: 200px;
  height: 340px;
}

.border2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  margin-left: -15px;
  top: 345px;
  left: 700px;
  width: 602px;
  height: 400px;
  background: #ffffff;
  border-radius: 39px;
}

.cb {
  color: #374151;
  position: relative;
  top: 180px;
  right: 225px;
  font-size: 18px;
  font-weight: 500;
}

.numb1 {
  color: #374151;
  position: relative;
  top: 173px;

  left: -15px;
  justify-content: space-around;
  word-spacing: 180px;
}
.bar1 {
  position: relative;
  top: 150px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.planned {
  color: #504f8c;
  position: relative;
  top: 133px;
  left: -17px;
  font-size: 12px;
  font-weight: bold;
}
.Notplanned {
  color: #d04c8d;
  position: relative;
  left: 469px;
  top: 95px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: blue;
}
progress::-webkit-progress-value {
  background: blue;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.numb2 {
  color: #374151;
  position: relative;
  top: 83px;
  left: -15px;
  justify-content: space-around;
  word-spacing: 220px;
}
.bar2 {
  position: relative;
  top: 58px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.documented {
  color: #504f8c;
  position: relative;
  top: 40px;
  left: -16px;
  font-size: 12px;
  font-weight: bold;
}
.notdocumented {
  color: #d04c8d;
  position: relative;
  right: -445px;
  top: 2px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.numb3 {
  color: #374151;
  position: relative;
  top: -10px;
  left: -15px;
  justify-content: space-around;
  word-spacing: 175px;
}
.bar3 {
  position: relative;
  top: -35px;

  width: 575px;
  height: 15px;
  border-radius: 0;
}

.Designed {
  color: #504f8c;
  position: relative;
  top: -52px;
  left: -16px;
  font-size: 12px;
  font-weight: bold;
}
.notDesigned {
  color: #d04c8d;
  position: relative;
  left: 465px;
  top: -92px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.numb4 {
  color: #374151;
  position: relative;
  top: -100px;
  left: -15px;
  justify-content: space-around;
  word-spacing: 205px;
}
.bar4 {
  position: relative;
  top: -125px;
  left: 2px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.coded {
  color: #504f8c;
  position: relative;
  top: -142px;
  left: -15px;
  font-size: 12px;
  font-weight: bold;
}
.notcoded {
  color: #d04c8d;
  position: relative;
  left: 480px;
  bottom: 179px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-left: -15px;
  position: absolute;
  top: 810px;
  left: 700px;
  width: 600px;
  height: 412px;
  background: #ffffff;
  border-radius: 39px;
}

.dot {
  color: #374151;
  position: relative;
  top: 148px;
  left: 277px;
  font-size: 18px;
  font-weight: 500;
}
