.underline {
  position: relative;
  left: 350px;
  top: 480px;
  width: 1000px;
  height: 0px;
  border: 1px solid #c9c9c9;
}

.locate {
  position: absolute;
  left: 357px;
  top: 1324px;
  color: #9a9a9a;
  text-align: left;
  font-weight: lighter;
  font-size: 10px;
  line-height: 16px;
}

.contact {
  position: absolute;
  text-align: right;
  left: 1220px;
  top: 1324px;
  color: #9a9a9a;
  font-weight: lighter;
  font-size: 10px;
  line-height: 16px;
}
.contact h2 {
  position: absolute;
  text-align: right;
  top: 20px;
  color: #9a9a9a;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}
