.jet {
  display: flex;
}
.right {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 100vh;
  margin: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  margin-left: 35px;
}
.logo1 {
  position: relative;
  left: 450px;
  top: 40px;
}
.right h1,
p {
  text-align: start;
  padding: 1px;
  line-height: 24px;
  margin-left: 40px;
}

.top {
  height: 100px;
  color: #d04c8d;
  font-size: 20px;
  font-weight: 600;
}
.bottom {
  height: 1000vh;
  background-color: white;
  border-radius: 44px;
}
.header {
  height: 300px;
  display: flex;
  margin-bottom: 20px;
}
.lo {
  width: 10%;
  margin-left: 70px;

  border-radius: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-left: 30px;
  color: #202020;

  width: 80%;

  font-size: 20px;
  border-radius: 44px;
}
.contact {
  display: flex;
  margin-left: 20px;
}
.number {
  position: relative;
  width: 166px;
  right: 700px;
  height: 53px;
  font-weight: 500;
  top: -900px;
  font-size: 18px;
  background: #f8f8f8;
  color: #525252;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail {
  position: relative;
  width: 288px;
  height: 53px;
  top: 7px;
  left: 220px;
  color: #525252;
  background: #f8f8f8;
  font-size: 18px;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview h3 {
  display: flex;
  margin: 40px;
  margin-bottom: 20px;
  width: 150px;
  height: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #d04c8d;
}

.overview p {
  width: 92%;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #202020;
}
.overview h6 {
  height: 14px;
  top: -75px;
  left: 410px;
  position: relative;
  color: #8f8f8f;
  font-weight: 500;
  font-size: 15px;
}
.overview {
  color: #e4e4e4 26%;
  background: #fdfdfd;
  border: 1px solid rgba(228, 228, 228, 0.26);
  box-sizing: border-box;
  border-radius: 33px;
  margin: 20px;
}
.view {
  font-size: 16px;

  color: #e4e4e4 26%;
  background: #fdfdfd;
  border: 1px solid rgba(228, 228, 228, 0.26);
  box-sizing: border-box;
  border-radius: 33px;
  margin: 20px;
}
.view h3 {
  display: flex;
  margin: 40px;
  margin-bottom: 20px;
  width: 150px;
  height: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #d04c8d;
  margin-left: 40px;
}
.view p {
  margin-left: 40px;
}
.view p a {
  float: right;
  margin-right: 50px;
}
.lining {
  position: relative;
  top: 0px;
  border: 1px solid #c9c9c9;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: black;
}
.lining1 {
  position: relative;
  top: -40px;
  border: 1px solid #c9c9c9;
  width: 92%;
  display: block;
  margin: 0 auto;
  background-color: black;
}
.lining2 {
  position: relative;
  top: -40px;
  border: 1px solid #c9c9c9;
  width: 92%;
  display: block;
  margin: 0 auto;
  background-color: black;
}
.parah {
  position: relative;
  top: -50px;
}
.line {
  border: 1px solid #c9c9c9;
  width: 92%;

  position: relative;
  display: block;
  margin: 0 auto;
  background-color: black;
}

.web {
  display: flex;
  justify-content: space-between;
  gap: 25;

  margin-left: 40px;
}
.person {
  display: flex;
  position: relative;

  text-align: center;
  gap: 40px;
  margin: 20px;
  margin-left: 40px;
}
.person p a {
  width: 100%;
  margin: 0 auto;
  padding-left: 60px;
}
.person1 {
  position: relative;
  top: -70px;
}
.website {
  width: 25%;
}
.website a {
  text-decoration: none;
  color: #d04c8d;
  font-weight: 600;
  font-size: 14px;
}

.website p {
  margin: 0;
}
.site {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  gap: 25;
  margin-left: 40px;
  margin-bottom: 30px;
}
.contact {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.end {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  color: #9a9a9a;
  max-width: 700px;
}
.locate-us {
  text-align: right;
}
.view h6 {
  height: 14px;
  top: -80px;
  left: 400px;
  position: relative;
  color: #8f8f8f;
  font-weight: 500;
  font-size: 15px;
}

.line1 {
  border: 1px solid #c9c9c9;
  width: 92%;
  position: relative;
  top: -70px;
  display: block;
  margin: 0 auto;
  background-color: black;
}
.primary {
  position: relative;
  top: -80px;
}
.line2 {
  border: 1px solid #c9c9c9;
  width: 92%;
  position: relative;
  top: -90px;
  display: block;
  margin: 0 auto;
  background-color: black;
}
.line3 {
  border: 1px solid #c9c9c9;
  width: 92%;
  position: relative;
  top: 0px;
  display: block;
  margin: 0 auto;
  background-color: black;
}
