.outer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 55%;
  height: 38px;
  left: 350px;
  top: 112px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}
.texts p {
  font-weight: 500;
  font-size: 30px;
  width: 206px;
  margin-left: -1px;
}
.logo img {
  position: absolute;
  right: -130px;
}

.box1 {
  position: absolute;
  width: 306px;
  height: 113px;
  left: 350px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}
.num1 {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 15px;
  top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}
.text1 {
  position: absolute;
  width: 175px;
  height: 23px;
  left: -14px;
  top: 43px;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #d04c8d;
}

.box2 {
  position: absolute;
  width: 306px;
  height: 113px;
  left: 680px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}

.num2 {
  position: absolute;
  width: 117px;
  height: 40px;
  top: -10px;
  left: -13px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.text2 {
  position: absolute;
  width: 282px;
  height: 21px;
  left: -16px;
  top: 43px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #d04c8d;
}

.box3 {
  position: absolute;
  width: 313px;
  height: 113px;
  left: 1009px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}

.num3 {
  position: absolute;
  width: 117px;
  height: 40px;
  top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.text3 {
  position: absolute;
  width: 175px;
  height: 23px;
  left: -12px;
  top: 43px;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #d04c8d;
}
